body {
  font-family: "Cagliostro", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  color: white;
  background: linear-gradient(180deg, #83152d 8.85%, #ad1d45 88.54%);
  background-image: url('./imagens/background\ mobile.png');
}

.header{
  text-align: center;
}

.header img{
  width: 80%;
}

.footer { 
  color: white;
  text-align: center;
  position: relative;
  top: 2rem;
}

.footer a {
  color: white;
  text-decoration: none;
}